.wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
  justify-content: space-between;
  h1{
    text-align: center;
  }
  .smile, .notFound{font-size: 32px;}
  .paragraph{
    font-size: 48px;
  }
  .toHome{
    font-size: 32px;
    cursor: pointer;
    color:rgb(0, 98, 255);
  }
}